<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiksta.test4">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
        <activity android:name=".blog.BlogPage"
            android:parentActivityName=".blog.BlogActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme"/>
        <activity android:name=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".post.PostActivity" />
        <activity android:name=".blog.BlogActivity" />
        <activity android:name=".info.InfoActivity" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2826377510399475~8690512309"/>


        <meta-data
            android:name="com.google.android.gms.ads.MANAGER_APP"
            android:value="true"
        />

    </application>

</manifest>